.main {
    width: 440px;
    color: #333;
}
.left  {
    width: 100px;
    float: left;
}
.right  {
    width: 300px;
    text-align: left;
    float: right;
}
.buttons {
    text-align: right;
}
.clearfix:after {
    display:block;
    clear:both;
    height:0px;
    visibility:hidden;
    content:".";
}
.text {
    width: 50%;
}
#jenkins-url, #websocket-url {
    width: 100%;
}
